
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/assets/admin/img/sidebar-5.jpg">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/assets/logo/logo.png" class="simple-text">
                    AdFuture
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/admin/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Lưu lượng truy cập</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/table">
                        <i class="pe-7s-note2"></i>
                        <p>Bảng tổng hợp sản phẩm</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/tablehomepage">
                        <i class="pe-7s-news-paper"></i>
                        <p>Bảng sản phẩm trang chủ</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/editprice">
                        <i class="fa-solid fa-money-bill"></i>
                        <p>Chỉnh sửa báo giá</p>
                    </a>
                </li>
                <li style="position:relative">
                    <a href="/admin/listRequestCustomer">
                        <div id="notification_count_unreadrequest">
                             0
                        </div>
                        <i class="fa fa-envelope"></i>
                        <p>Ý kiến phản hồi</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/admin/login">
                                <p>Đăng xuất</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="myChart3" style="width:100%;max-width:400px"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="myChart4" style="width:100%;max-width:400px"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>

<style>
    /* custom css */
    .sidebar .sidebar-wrapper {
        background-color: rgba(42, 126, 250, 0.5);
    }
    #notification_count_unreadrequest{
        background-color: red;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100%;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    #myChart{
        height:500px;
        width:500px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
<script>
    let tokenJWT = localStorage['token'];
    const takeDataTable = async ()=>{
        let res = await axios({
            method: "post",
            url: "/api/admin/contact/CountUnreaderRequest",
            data: {
                tokenJWT
            },
            headers: { "Content-Type": "multipart/form-data" }
        })
        if(res && res.data && res.data.data && res.data.data.count){
            localStorage.setItem('countUnreaderRequest', String(res.data.data.count));
            $(`#notification_count_unreadrequest`).html(`${String(res.data.data.count)}`)
        }

        let res2 = await  axios({
            method: "post",
            url: "/api/admin/homepage/TakeDataChart",
            data: {
                tokenJWT
            },
            headers: { "Content-Type": "multipart/form-data" }
        });
        if(res2.data && res2.data.data){
            // dateChart
            let listResultDate = res2.data.data.listResultDate;
            let xValues = [];
            for(let i=0; i<listResultDate.length; i++){
                xValues.push(`${listResultDate[i].day}/${listResultDate[i].month}`)
            }
            let yValues = [];
            for(let i = 0; i < listResultDate.length; i++) {
                yValues.push(listResultDate[i].count)
            }
            let barColors = ["red", "green","blue","orange","brown"];
            new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    title: {
                    display: true,
                    text: "Bảng thống kê lượng truy cập theo ngày"
                    }
                }
            });

            // monthChart 
            let listHitoryMonth = res2.data.data.listHitoryMonth;
            let xValuesMonth = [];
            for(let i=0; i<listHitoryMonth.length; i++){
                xValuesMonth.push(`${listHitoryMonth[i].month}/${listHitoryMonth[i].year}`)
            }
            let yValuesMonth = [];
            for(let i = 0; i < listHitoryMonth.length; i++) {
                yValuesMonth.push(listHitoryMonth[i].count)
            }
            let barColorsMonth = ["red", "green","blue","orange","brown"];
            new Chart("myChart2", {
                type: "bar",
                data: {
                    labels: xValuesMonth,
                    datasets: [{
                    backgroundColor: barColorsMonth,
                    data: yValuesMonth
                    }]
                },
                options: {
                    legend: {display: false},
                    title: {
                    display: true,
                    text: "Bảng thống kê lượng truy cập theo tháng "
                    }
                }
            });

            // percent date 
            let xValuesDateRound =["Hôm nay","Hôm qua"];
            let yValuesRound = [listResultDate[0].count,listResultDate[1].count]
            let barColorsRound = ["blue","red"];
            new Chart("myChart3", {
                type: "pie",
                data: {
                    labels: xValuesDateRound,
                    datasets: [{
                    backgroundColor: barColorsRound,
                    data: yValuesRound
                    }]
                },
                options: {
                    title: {
                    display: true,
                    text: "Biểu đồ tham chiếu ngày"
                    }
                }
            });

             // percent date 
            let xValuesMonthRound =["Tháng hiện tại","Tháng trước"];
            let yValuesMonthRound = [listHitoryMonth[0].count,listHitoryMonth[1].count]
            let barColorMonthRound = ["blue","red"];
            new Chart("myChart4", {
                type: "pie",
                data: {
                    labels: xValuesMonthRound,
                    datasets: [{
                    backgroundColor: barColorMonthRound,
                    data: yValuesMonthRound
                    }]
                },
                options: {
                    title: {
                    display: true,
                    text: "Biểu đồ tham chiếu tháng"
                    }
                }
            });
        }
    }
    takeDataTable();

    // new Chart("myChart2", {
    //     type: "bar",
    //     data: {
    //         labels: xValues,
    //         datasets: [{
    //         backgroundColor: barColors,
    //         data: yValues
    //         }]
    //     },
    //     options: {
    //         legend: {display: false},
    //         title: {
    //         display: true,
    //         text: "World Wine Production 2018"
    //         }
    //     }
    // });

    // new Chart("myChart4", {
    //     type: "pie",
    //     data: {
    //         labels: xValues,
    //         datasets: [{
    //         backgroundColor: barColors,
    //         data: yValues
    //         }]
    //     },
    //     options: {
    //         title: {
    //         display: true,
    //         text: "World Wide Wine Production 2018"
    //         }
    //     }
    // });

</script>
