<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/assets/logo/logo.png" class="simple-text">
                    AdFuture
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/admin/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Lưu lượng truy cập</p>
                    </a>
                </li>
                <!-- <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li> -->
                <li>
                    <a href="/admin/table">
                        <i class="pe-7s-note2"></i>
                        <p>Bảng tổng hợp sản phẩm</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/tablehomepage">
                        <i class="pe-7s-news-paper"></i>
                        <p>Bảng sản phẩm trang chủ</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/editprice">
                        <i class="fa-solid fa-money-bill"></i>
                        <p>Chỉnh sửa báo giá</p>
                    </a>
                </li>
                <li style="position:relative">
                    <a href="/admin/listRequestCustomer">
                        <div id="notification_count_unreadrequest">
                             0
                        </div>
                        <i class="fa fa-envelope"></i>
                        <p>Ý kiến phản hồi</p>
                    </a>
                </li>
                <!-- <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/admin/login">
                                <p>Đăng xuất</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Danh sách phản hồi</h4>  
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Tên</th>
                                    	<th>Mail</th>
                                    	<th>Điện thoại</th>
                                    </thead>
                                    <tbody id="data_table_root">
                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="form_see_messsage">
        <div class="form_see_messsage_container">
            <i class="fa-solid fa-xmark icon_form_create" onclick="handleCloseFormCreateProduct()"></i>
             <textarea id="message_content" class="btn btn-primary">

             </textarea>
        </div>
    </div>
</div>

<style>
    /* custom css */
    .sidebar .sidebar-wrapper {
        background-color: rgba(42, 126, 250, 0.5);
    }

    #data_table_root .img_product{
        width:40px;
        height:40px;
    }
    .add_product,
    .select_otion{
        display:flex;
        padding: 10px 0px;
        height: 50px;
        margin: 5px 0px;
    }
    input[type=file] {
        width: 100px;
    }
    .add_product_btn,
    .savechange_btn{
       background-color: green;
       border-radius:5px;
       opacity:0.7;
       color:white;
       cursor:pointer;
       margin:0px 10px;
       border:0px;
    }
    .add_product_btn{
        margin:0px;
    }
    .savechange_btn:hover{
        transition:all 0.3s;
        transform:scale(1.1);
    }

    #notification_save{
        display:none;
        color:blue;
        opacity:0.7;
        margin:0px 10px;

    }

    .btn-primary{
        padding:0px;
        margin:0px;
    }
    .td_product{
        padding:0px;
    }
    /* tạo sản phẩm */
    #form_see_messsage{
        position:fixed;
        background-color: white;
        border-radius:5px;
        width:80%;
        right:10%;
        left:10%;
        height:40%;
        top:20%;
        z-index:10;
        opacity:1;
        box-shadow: 3px 3px 3px rgba(46, 83, 255, 0.7);
        border-color: rgba(46, 83, 255, 0.7);
        border-width: 3px;
        padding:15px;
        margin:15px;
        display:none;
    }
    #form_see_messsage .form_see_messsage_container{
        position:relative;
        padding:10px;
    }
    #form_see_messsage .form_see_messsage_container .icon_form_create{
        position:absolute;
        font-size: 20px;
        top:0px;
        right:0px;
        cursor:pointer;
        z-index:100;
    }
    #form_see_messsage .form_see_messsage_container .icon_form_create:hover{
        transition:all 0.3s;
        transform:scale(1.1);
    }

    .see_more:hover{
       cursor:pointer;
       transition:all 0.3s;
       transform: scale(1.1);
    }

    #message_content{
        height: 55%;
        padding: 15px;
        margin: 15px 15%;
        width:75%;
        left:10%;
        right:10%;
    }

    .unReadRequest{
        background-color: rgba(0, 85, 249, 0.1)!important;
    }

    #notification_count_unreadrequest{
        background-color: red;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100%;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
<script>
    let arrIdChange = [];
    let tokenJWT = localStorage['token'];
    $(`#notification_count_unreadrequest`).html(`${String(localStorage['countUnreaderRequest'])}`);
    const takeDataTable = async ()=>{
        let res = await axios({
            method: "post",
            url: "/api/admin/contact/GetListCustomer",
            data: {
                tokenJWT
            },
            headers: { "Content-Type": "multipart/form-data" }
        })
        if(res.data && res.data.data ){
            $('#data_table_root').html('')
            for(let i=0; i < res.data.data.length; i++){
                if(res.data.data[i].read){
                    $('#data_table_root').append(`
                        <tr id="${res.data.data[i]._id}">
                            <td class="td_product">
                                <input type="text" 
                                       value="${res.data.data[i].name}" 
                                       class="btn btn-primary"/>
                            </td>
                            <td class="td_product">
                                <input 
                                      value="${res.data.data[i].email}" class="btn btn-primary"/>
                            </td>
                            <td class="td_product">
                                <input 
                                      value="${res.data.data[i].phone}" class="btn btn-primary"/>
                            </td>
                            <td class="td_product" onclick="ReadRequest('${res.data.data[i].message}','${res.data.data[i]._id}')">
                                <div class="see_more">
                                      Xem thêm...
                                </div>
                            </td>
                        </tr>
                   `);
                }
                else{
                    $('#data_table_root').append(`
                        <tr id="${res.data.data[i]._id}" class="unReadRequest">
                            <td class="td_product">
                                <input type="text" 
                                       value="${res.data.data[i].name}" 
                                       class="btn btn-primary"/>
                            </td>
                            <td class="td_product">
                                <input 
                                      value="${res.data.data[i].email}" class="btn btn-primary"/>
                            </td>
                            <td class="td_product">
                                <input 
                                      value="${res.data.data[i].phone}" class="btn btn-primary"/>
                            </td>
                            <td class="td_product" onclick="ReadRequest('${res.data.data[i].message}','${res.data.data[i]._id}')">
                                <div class="see_more">
                                      Xem thêm...
                                </div>
                            </td>
                        </tr>
                   `);
                }

            }
        }
        else{
            window.location.href = "/";
        }
    }
    takeDataTable();
    
    const ReadRequest = (message,id)=>{
        $('#form_see_messsage').show();
        $('#message_content').val(`${message}`);
        $(`#${id}`).removeClass('unReadRequest');
        axios({
            method: "post",
            url: "/api/admin/contact/ReadRequestCustomer",
            data: {
                IdRequest:id,
                tokenJWT
            },
            headers: { "Content-Type": "multipart/form-data" }
        }).catch((e)=>{
            console.log("Lỗi đọc request")
            console.log(e)
        });

        let count = Number(String(JSON.parse(localStorage['countUnreaderRequest'])));
        localStorage.setItem('countUnreaderRequest', String(count-1));
        $(`#notification_count_unreadrequest`).html(`${String(count-1)}`)
    }

    const handleCloseFormCreateProduct = ()=>{
        try{
           document.getElementById('form_see_messsage').style.display = 'none';
        }
        catch(e){
           console.log(e);
        }
    }
    
</script>