<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 footer-widget footer-about">
                    <h3 class="widget-title">Giới thiệu</h3>
                    <p>Đội ngũ sáng lập công ty là các nhà thiết kế kiến trúc,nội thất và quy hoạch đô thị có 20 năm
                        kinh nghiệm trong lĩnh vực thiết kế kiến trúc nội thất và cung cấp nội thất cao cấp. Tại Việt
                        Nam và một số nước Đông Nam Á, Châu Âu ELKAY VIỆT NAM nổi tiếng với những thiết kế ấn tượng,
                        sang trọng, đẳng cấp và những dự án quy hoạch đô thị tầm cỡ quốc gia.</p>

                </div><!-- Col end -->

                <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
                    <h3 class="widget-title">Liên hệ chúng tôi</h3>
                    <div class="working-hours">
                        Đồng Lạc, Nam Sách, Hải Dương, Việt Nam.
                        <br><br>Hotline 1: <span class="text-right">098.159.6888</span>
                        <br>Hotline 2: <span class="text-right">0339.555.698</span>
                        <br>Email: <span class="text-right">kientrucadfuture@gmail.com</span>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li><a href="https://www.facebook.com/Thietkekientruc88/" aria-label="Facebook"
                                    target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="kientrucadfuture@gmail.com" aria-label="Gmail"><i
                                        class="fab fa-google"></i></a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UCt0agyuxyf922_sxfD03fFA"
                                    aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="m.me/103627701932649" aria-label="Messenger"><i
                                        class="fa-brands fa-facebook-messenger"></i></a></li>
                        </ul>
                    </div><!-- Footer social end -->
                </div><!-- Col end -->

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
                    <h3 class="widget-title">Dịch vụ</h3>
                    <ul class="list-arrow">
                        <li><a href="#">Thiết kế kiến trúc</a></li>
                        <li><a href="#">Thiết kế nội thất</a></li>
                        <li><a href="#">Thiết kế trọn gói</a></li>
                    </ul>
                    <div style="margin-top: 20px;">
                        <a style="cursor: pointer;"
                            href="https://masothue.com/0801392285-cong-ty-tnhh-kien-truc-ad-future" target="_blank">
                            <img loading="lazy" class="footer-logo" src="/assets/images/client/bo-cong-thuong.png"
                                style="height: 300px; width: 150px;" alt="adfuture">
                        </a>
                        <img loading="lazy" class="footer-logo" src="/assets/logo/logo.png" alt="adfuture" width="100px"
                            height="300px">
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Footer main end -->

    <div class="copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="copyright-info text-center">
                        <span>Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>, Designed &amp; Developed by <a href="#">AD Future</a>
                        </span>
                    </div>
                </div>
            </div><!-- Row end -->

            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
                <button class="btn btn-primary" title="Back to Top">
                    <i class="fa fa-angle-double-up"></i>
                </button>
            </div>

        </div><!-- Container end -->
    </div><!-- Copyright end -->
</footer><!-- Footer end -->