<div id="banner-area" class="banner-area" style="background-image:url(/assets/images/client/404.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Kiến trúc khác</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="#">Kiến trúc khác</a></li>
                                <li class="breadcrumb-item active" aria-current="page">404</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error-page text-center">
                    <div class="error-code">
                        <h2><strong>404</strong></h2>
                    </div>
                    <div class="error-message">
                        <h3>Chúng tôi không tìm thấy trang bạn yêu cầu</h3>
                    </div>
                    <div class="error-body">
                        Xin vui lòng bấm vào nút Quay lại để trở về Trang chủ<br>
                        <a href="/" class="btn btn-primary">Quay lại</a>
                    </div>
                </div>
            </div>

        </div><!-- Content row -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->


<script>
    // (async () => {
    //     $('#loader').css('display', 'flex')
    //     function getData(url) {
    //         return $.ajax({
    //             url: url,
    //             type: 'GET',
    //         });
    //     };
    //     for (let i = 0; i < 100; i++) {
    //         await getData('https://jsonplaceholder.typicode.com/posts/1')
    //     }
    //     // console.log(res);
    //     // console.log('test')
    //     $('#loader').css('display', 'none')
    // })()
</script>