<div id="banner-area" class="banner-area" style="background-image:url(images/house/house-1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">AD Future</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="column-title">Công ty Kiến trúc AD Future</h3>
                <p>Công ty Kiến trúc AD Future được thành lập năm 2016 tại Việt Nam. Đội ngũ sáng lập công ty là các nhà
                    thiết kế kiến trúc, nội thất có nhiều năm kinh nghiệm trong lĩnh vực thiết kế kiến trúc nội thất và
                    cung
                    cấp nội thất.</p>
                <blockquote>
                    <p>AD Future luôn tâm niệm một căn nhà đẹp luôn phải đi cùng với sự hài lòng và niềm hạnh phúc của
                        quý
                        khách hàng</p>
                </blockquote>
                <p>Khi đến với AD Future, quý khách hàng luôn luôn yên tâm về sự uy tín, luôn cống hiến hết mình với
                    từng dự
                    án. Mỗi thiết kế từ AD Future là sự đam mê nghiên cứu của đội ngũ kiến trúc sư nhiều năm kinh
                    nghiệm, là
                    tâm huyết và cam kết đảm bảo tiến độ đi cùng chất lượng.</p>

            </div><!-- Col end -->

            <div class="col-lg-6 mt-5 mt-lg-0">

                <div id="page-slider" class="page-slider small-bg">

                    <div class="item" style="background-image:url(/assets/images/services/service2.jpg)">
                        <div class="container">
                            <div class="box-slider-content">
                                <div class="box-slider-text">
                                    <h2 class="box-slide-title">Uy tín</h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- Item 1 end -->

                    <div class="item" style="background-image:url(/assets/images/services/service4.jpg)">
                        <div class="container">
                            <div class="box-slider-content">
                                <div class="box-slider-text">
                                    <h2 class="box-slide-title">Tâm huyết</h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- Item 1 end -->

                    <div class="item" style="background-image:url(/assets/images/services/service6.jpg)">
                        <div class="container">
                            <div class="box-slider-content">
                                <div class="box-slider-text">
                                    <h2 class="box-slide-title">Sẵn sàng</h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- Item 1 end -->
                </div><!-- Page slider end-->


            </div><!-- Col end -->
        </div><!-- Content row end -->

    </div><!-- Container end -->
</section><!-- Main container end -->


<section id="facts" class="facts-area dark-bg">
    <div class="container">
        <div class="facts-wrapper">
            <div class="row">
                <div class="col-md-3 col-sm-6 ts-facts">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="images/icon-image/fact1.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="100">0</span></h2>
                        <h3 class="ts-facts-title">Dự án đã thực hiện</h3>
                    </div>
                </div><!-- Col end -->

                <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="images/icon-image/fact2.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="50">0</span></h2>
                        <h3 class="ts-facts-title">Kỹ sư</h3>
                    </div>
                </div><!-- Col end -->

                <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="images/icon-image/fact3.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="4000">0</span></h2>
                        <h3 class="ts-facts-title">Giờ làm việc</h3>
                    </div>
                </div><!-- Col end -->

                <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="images/icon-image/service-icon3.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="10">0</span></h2>
                        <h3 class="ts-facts-title">Năm kinh nghiệm</h3>
                    </div>
                </div><!-- Col end -->

            </div> <!-- Facts end -->
        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Facts end -->

<section id="ts-team" class="ts-team">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 class="section-sub-title">Đội ngũ AD Future</h3>
            </div>
        </div><!--/ Title row end -->

        <div class="row">
            <div class="col-lg-12">
                <div id="team-slide" class="team-slide">
                    <div class="item">
                        <div class="ts-team-wrapper">
                            <div class="team-img-wrapper">
                                <img loading="lazy" class="w-100" src="images/clients/nguoi-3.jpg" alt="team-img">
                            </div>
                            <div class="ts-team-content">
                                <h3 class="ts-name">Nguyễn Hữu Thành</h3>
                                <p class="ts-designation">CEO</p>
                                <p class="ts-description"></p>
                                <div class="team-social-icons">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                </div><!--/ social-icons-->
                            </div>
                        </div><!--/ Team wrapper end -->
                    </div><!-- Team 1 end -->

                    <div class="item">
                        <div class="ts-team-wrapper">
                            <div class="team-img-wrapper">
                                <img loading="lazy" class="w-100" src="images/clients/nguoi-3.jpg" alt="team-img">
                            </div>
                            <div class="ts-team-content">
                                <h3 class="ts-name">Nguyễn Hữu Thành</h3>
                                <p class="ts-designation">CEO</p>
                                <p class="ts-description"></p>
                                <div class="team-social-icons">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                </div><!--/ social-icons-->
                            </div>
                        </div><!--/ Team wrapper end -->
                    </div><!-- Team 1 end -->

                    <div class="item">
                        <div class="ts-team-wrapper">
                            <div class="team-img-wrapper">
                                <img loading="lazy" class="w-100" src="images/clients/nguoi-3.jpg" alt="team-img">
                            </div>
                            <div class="ts-team-content">
                                <h3 class="ts-name">Nguyễn Hữu Thành</h3>
                                <p class="ts-designation">CEO</p>
                                <p class="ts-description"></p>
                                <div class="team-social-icons">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                </div><!--/ social-icons-->
                            </div>
                        </div><!--/ Team wrapper end -->
                    </div><!-- Team 1 end -->

                    <div class="item">
                        <div class="ts-team-wrapper">
                            <div class="team-img-wrapper">
                                <img loading="lazy" class="w-100" src="images/clients/nguoi-3.jpg" alt="team-img">
                            </div>
                            <div class="ts-team-content">
                                <h3 class="ts-name">Nguyễn Hữu Thành</h3>
                                <p class="ts-designation">CEO</p>
                                <p class="ts-description"></p>
                                <div class="team-social-icons">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                </div><!--/ social-icons-->
                            </div>
                        </div><!--/ Team wrapper end -->
                    </div><!-- Team 1 end -->

                    <div class="item">
                        <div class="ts-team-wrapper">
                            <div class="team-img-wrapper">
                                <img loading="lazy" class="w-100" src="images/clients/nguoi-3.jpg" alt="team-img">
                            </div>
                            <div class="ts-team-content">
                                <h3 class="ts-name">Nguyễn Hữu Thành</h3>
                                <p class="ts-designation">CEO</p>
                                <p class="ts-description"></p>
                                <div class="team-social-icons">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                </div><!--/ social-icons-->
                            </div>
                        </div><!--/ Team wrapper end -->
                    </div><!-- Team 1 end -->

                    <div class="item">
                        <div class="ts-team-wrapper">
                            <div class="team-img-wrapper">
                                <img loading="lazy" class="w-100" src="images/clients/nguoi-3.jpg" alt="team-img">
                            </div>
                            <div class="ts-team-content">
                                <h3 class="ts-name">Nguyễn Hữu Thành</h3>
                                <p class="ts-designation">CEO</p>
                                <p class="ts-description"></p>
                                <div class="team-social-icons">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                </div><!--/ social-icons-->
                            </div>
                        </div><!--/ Team wrapper end -->
                    </div><!-- Team 1 end -->

                </div><!-- Team slide end -->
            </div>
        </div><!--/ Content row end -->
    </div><!--/ Container end -->
</section><!--/ Team end -->