<div class="banner-carousel banner-carousel-1 mb-0">
    <div class="banner-carousel-item" style="background-image:url(/assets/images/slider/house-1.jpg)">
        <div class="slider-content">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 text-center">
                        <h2 class="slide-title" data-animation-in="slideInLeft">Thiết kế kiến trúc</h2>
                        <h3 class="slide-sub-title" data-animation-in="slideInRight">Ấn tượng, tinh tế, sang trọng</h3>
                        <p data-animation-in="slideInLeft" data-duration-in="1.2">
                            <a href="/services" class="slider btn btn-primary">Dịch vụ AD Future</a>
                            <a href="/contact" class="slider btn btn-primary border">Liên hệ với AD Future</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-carousel-item" style="background-image:url(/assets/images/slider/noithat-1.jpg)">
        <div class="slider-content text-left">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12">
                        <h2 class="slide-title-box" data-animation-in="slideInDown">Thiết kế nội thất</h2>
                        <h3 class="slide-title" data-animation-in="fadeIn">Ấm cúng, trang nhã, hiện đại</h3>
                        <h3 class="slide-sub-title" data-animation-in="slideInLeft"></h3>
                        <p data-animation-in="slideInRight">
                            <a href="services.html" class="slider btn btn-primary border">Dịch vụ AD Future</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-carousel-item" style="background-image:url(/assets/images/slider/house-2.jpg)">
        <div class="slider-content text-right">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12">
                        <h2 class="slide-title" data-animation-in="slideInDown">Thiết kế trọn gói</h2>
                        <h3 class="slide-sub-title" data-animation-in="fadeIn">Thiết kế kiến trúc & nội thất trọn gói
                        </h3>
                        <p class="slider-description lead" data-animation-in="slideInRight">Sự hài lòng của quý khách là
                            niềm tự hào của AD Future</p>
                        <div data-animation-in="slideInLeft">
                            <a href="about.html" class="slider btn btn-primary" aria-label="contact-with-us">Dịch vụ AD
                                Future</a>
                            <a href="contact.html" class="slider btn btn-primary border"
                                aria-label="learn-more-about-us">Liên hệ với AD Future</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="call-to-action-box no-padding">
    <div class="container">
        <div class="action-style-box">
            <div class="row align-items-center">
                <div class="col-md-8 text-center text-md-left">
                    <div class="call-to-action-text">
                        <h3 class="action-title">Đội ngũ AD Future và bạn đều yêu thích những ngôi nhà đẹp</h3>
                    </div>
                </div><!-- Col end -->
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                    <div class="call-to-action-btn">
                        <a class="btn btn-dark" href="contact.html">Liên hệ với AD Future</a>
                    </div>
                </div><!-- col end -->
            </div><!-- row end -->
        </div><!-- Action style box -->
    </div><!-- Container end -->
</section><!-- Action end -->

<section id="ts-features" class="ts-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ts-intro">
                    <h2 class="into-title">Giới thiệu AD Future</h2>
                    <h3 class="into-sub-title">Lĩnh vực hoạt động</h3>
                    <p>AD Future là công ty trong lĩnh vực quy hoạch thi công nội thất & kiến trúc hàng đầu Việt Nam với
                        đội ngũ kiến trúc sư nhiều kinh nghiệm. Tại Việt Nam, AD Future nổi tiếng với những thiết kế ấn
                        tượng, sang trọng, đẳng cấp và những dự án nhà phố, nhà vườn mang xu hướng hiện đại.</p>
                </div><!-- Intro box end -->

                <div class="gap-20"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="ts-service-box">
                            <span class="ts-service-icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <div class="ts-service-box-content">
                                <h3 class="service-box-title">Đội ngũ nhiều kinh nghiệm</h3>
                            </div>
                        </div><!-- Service 1 end -->
                    </div><!-- col end -->

                    <div class="col-md-6">
                        <div class="ts-service-box">
                            <span class="ts-service-icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <div class="ts-service-box-content">
                                <h3 class="service-box-title">Luôn cập nhật xu hướng</h3>
                            </div>
                        </div><!-- Service 2 end -->
                    </div><!-- col end -->
                </div><!-- Content row 1 end -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="ts-service-box">
                            <span class="ts-service-icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <div class="ts-service-box-content">
                                <h3 class="service-box-title">Chúng tôi hiểu bạn cần gì</h3>
                            </div>
                        </div><!-- Service 1 end -->
                    </div><!-- col end -->

                    <div class="col-md-6">
                        <div class="ts-service-box">
                            <span class="ts-service-icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <div class="ts-service-box-content">
                                <h3 class="service-box-title">Dịch vụ chuyên nghiệp</h3>
                            </div>
                        </div><!-- Service 2 end -->
                    </div><!-- col end -->
                </div><!-- Content row 1 end -->
            </div><!-- Col end -->

            <div class="col-lg-6 mt-4 mt-lg-0">
                <h3 class="into-sub-title">Dịch Vụ Của Chúng Tôi</h3>

                <div class="accordion accordion-group" id="our-values-accordion">
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Thiết kế nội thất
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#our-values-accordion">
                            <div class="card-body">
                                Dựa trên yêu cầu và sở thích của khách hàng, AD Future tư vấn ý tưởng nội thất, phân bổ
                                mặt bằng, ánh sáng, trần-tường-sàn, lựa chọn nội thất, màu sắc, chất liệu, đồ trang trí
                                cho toàn công trình.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Thiết kế kiến trúc
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#our-values-accordion">
                            <div class="card-body">
                                AD Future giúp khách hàng thiết kế thi công nhà trọn gói, bố trí, sắp đặt không gian bao
                                gồm kiến trúc, kết cấu, cấp điện, chiếu sáng, cấp thoát nước, điều hòa, thông gió,… tạo
                                nên một nơi sinh sống đẹp, chất lượng, tiện ích, công năng, tạo nên môi trường sống
                                thuận tiện, thoải mái và cả niềm tự hào các thành viên trong gia đình.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Xây dựng nhà trọn gói
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#our-values-accordion">
                            <div class="card-body">
                                AD Future giúp khách hàng thiết kế thi công nhà trọn gói, bố trí, sắp đặt không gian bao
                                gồm kiến trúc, kết cấu, cấp điện, chiếu sáng, cấp thoát nước, điều hòa, thông gió,… tạo
                                nên một nơi sinh sống đẹp, chất lượng, tiện ích, công năng, tạo nên môi trường sống
                                thuận tiện, thoải mái và cả niềm tự hào các thành viên trong gia đình.
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Accordion end -->

            </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
</section><!-- Feature are end -->

<section id="project-area" class="project-area solid-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="section-title">Dự án thực hiện bởi</h2>
                <h3 class="section-sub-title">AD Future</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-12">
                <div class="shuffle-btn-group">
                    <label class="active" for="all" id="all">
                        <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Tất cả dự án
                    </label>
                    <label for="bietthu" id="villa">
                        <input type="radio" name="shuffle-filter" id="bietthu" value="bietthu">Biệt thự
                    </label>
                    <label for="chungcu" id="buildinghome">
                        <input type="radio" name="shuffle-filter" id="chungcu" value="chungcu">Chung cư
                    </label>
                    <label for="nhapho" id="streethouse">
                        <input type="radio" name="shuffle-filter" id="nhapho" value="nhapho">Nhà phố
                    </label>
                    <label for="sanvuon" id="gardenhouse">
                        <input type="radio" name="shuffle-filter" id="sanvuon" value="sanvuon">Sân vườn
                    </label>
                    <label for="cuahang" id="shop">
                        <input type="radio" name="shuffle-filter" id="cuahang" value="cuahang">Cửa hàng
                    </label>
                    <label for="nhacap4" id="smallhouse4">
                        <input type="radio" name="shuffle-filter" id="nhacap4" value="nhacap4">Nhà cấp 4
                    </label>
                </div><!-- project filter end -->


                <div class="row shuffle-wrapper">
                    <div class="col-1 shuffle-sizer"></div>
                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;nhapho&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/house/nhapho-2.jpg" aria-label="project-img">
                                <img class="img-fluid" src="images/house/nhapho-2.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Nhà phố 3 tầng</a>
                                    </h3>
                                    <p class="project-cat">Sài Đồng - Long Biên, Hà Nội</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- shuffle end -->
            </div>
            <div class="col-12">
                <div class="general-btn text-center">
                    <a class="btn btn-primary" id="see_all">Xem tất cả dự án</a>
                </div>
            </div>
        </div>
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="column-title">Đánh giá của khách hàng</h3>

                <div id="testimonial-slide" class="testimonial-slide">
                    <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Mình thường xuyên công tác ở Úc. Căn này mua để chuẩn bị lập gia đình. Nơi để ở khi về
                                Việt Nam họp báo. Elkay đã giúp tôi hoàn thiện từ thiết kế đến thi công. Có rất nhiều
                                yêu cầu khó về sự an toàn cho căn hộ được tôi đưa ra nhưng họ đều có giải pháp cho vấn
                                đề đó.
                            </span>

                            <div class="quote-item-footer">
                                <img loading="lazy" class="testimonial-thumb" src="images/clients/nguoi-2.jpg"
                                    alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Quang Chiến</h3>
                                    <span class="quote-subtext">CEO ATZ Fashion</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->
                    </div>
                    <!--/ Item 1 end -->

                    <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Xung quanh nhà hàng xóm ai cũng làm nội thất theo kiểu sang trọng, hoàng gia…. mình
                                thích cái gì đó nhẹ nhàng ấm cúng đủ để có sự bình yên sau những giờ làm mệt mỏi ở công
                                ty về. Elkay đã thực hiện hóa ý tưởng đến thực tế giúp mình. Không những giản dị và bình
                                yên mà còn pha thêm chút nghệ thuật.
                            </span>

                            <div class="quote-item-footer">
                                <img loading="lazy" class="testimonial-thumb" src="images/clients/nguoi-1.jpg"
                                    alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Thu Lan</h3>
                                    <span class="quote-subtext">Giảng viên đại học sư phạm</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->
                    </div>
                    <!--/ Item 2 end -->

                    <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Cảm ơn AD Future đã giúp mình hoàn thiện căn nhà theo “tưởng tượng” của mình và thực tế
                                còn đẹp hơn thế. Phong cách thiết kế của các bạn hiện đại và chỉn chu. Cảm ơn tất cả các
                                anh em đã rất nhiệt tình và tay nghề cao làm ra sản phẩm chất lượng hoàn chỉnh, chất
                                lượng sát với bản vẽ. Chúc các bạn và công ty luôn phát triển bền vững!
                            </span>

                            <div class="quote-item-footer">
                                <img loading="lazy" class="testimonial-thumb" src="images/clients/nguoi-3.jpg"
                                    alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Quang Huy</h3>
                                    <span class="quote-subtext">Đạo diễn</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->
                    </div>
                    <!--/ Item 3 end -->

                </div>
                <!--/ Testimonial carousel end-->
            </div><!-- Col end -->

            <div class="col-lg-6 mt-5 mt-lg-0">

                <h3 class="column-title">Đối tác của AD Future</h3>

                <div class="row all-clients">
                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/client1.png"
                                    alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 1 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/client2.png"
                                    alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 2 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/client3.png"
                                    alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 3 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/client4.png"
                                    alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 4 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/client5.png"
                                    alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 5 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/client6.png"
                                    alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 6 end -->

                </div><!-- Clients row end -->

            </div><!-- Col end -->

        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Content end -->

<section id="news" class="news">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-title">Tin tức mới</h2>
                <h3 class="section-sub-title">Tin tức mới</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="latest-post">
                    <div class="latest-post-media">
                        <a href="#" class="latest-post-img">
                            <img loading="lazy" class="img-fluid" src="images/house/nhapho-1.jpg" alt="img">
                        </a>
                    </div>
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="#" class="d-inline-block">Thiết kế nhà nhỏ theo phong cách đồng quê, nội thất hiện
                                đại</a>
                        </h4>
                        <div class="latest-post-meta">
                            <span class="post-item-date">
                                <i class="fa fa-clock-o"></i> 03/03/2023
                            </span>
                        </div>
                    </div>
                </div><!-- Latest post end -->
            </div><!-- 1st post col end -->

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="latest-post">
                    <div class="latest-post-media">
                        <a href="#" class="latest-post-img">
                            <img loading="lazy" class="img-fluid" src="images/house/nhapho-1.jpg" alt="img">
                        </a>
                    </div>
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="#" class="d-inline-block">Thiết kế nhà phố 2 tầng với phong cách hiện đại</a>
                        </h4>
                        <div class="latest-post-meta">
                            <span class="post-item-date">
                                <i class="fa fa-clock-o"></i> 03/03/2023
                            </span>
                        </div>
                    </div>
                </div><!-- Latest post end -->
            </div><!-- 2nd post col end -->

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="latest-post">
                    <div class="latest-post-media">
                        <a href="#" class="latest-post-img">
                            <img loading="lazy" class="img-fluid" src="images/house/nhapho-1.jpg" alt="img">
                        </a>
                    </div>
                    <div class="post-body">
                        <h4 class="post-title">
                            <a href="#" class="d-inline-block">Thiết kế nhà phố 2 tầng với phong cách hiện đại</a>
                        </h4>
                        <div class="latest-post-meta">
                            <span class="post-item-date">
                                <i class="fa fa-clock-o"></i> 03/03/2023
                            </span>
                        </div>
                    </div>
                </div><!-- Latest post end -->
            </div><!-- 3rd post col end -->
        </div>
        <!--/ Content row end -->

        <div class="general-btn text-center mt-4">
            <a class="btn btn-primary" href="#">Xem tất cả tin tức</a>
        </div>

    </div>
    <!--/ Container end -->
</section>
<!--/ News end -->
<section class="subscribe no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="subscribe-call-to-acton">
                    <h3>Liên lạc với AD Future</h3>
                    <h4>098.159.6888</h4>
                </div>
            </div><!-- Col end -->

            <div class="col-lg-8">
                <div class="ts-newsletter row align-items-center">
                    <div class="col-md-5 newsletter-introtext">
                        <h4 class="text-white mb-0">Thông tin của bạn</h4>
                        <p class="text-white">AD Future sẽ liên lạc với quý khách</p>
                    </div>

                    <div class="col-md-7 newsletter-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="newsletter-email" class="content-hidden">Email</label>
                                <input type="email" name="email" id="newsletter-email"
                                    class="form-control form-control-lg"
                                    placeholder="Email hoặc Số điện thoại của quý khách" autocomplete="off">
                            </div>
                        </form>
                    </div>
                </div><!-- Newsletter end -->
            </div><!-- Col end -->

        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section>

<script>
    (async () => {
        // $('#loader').css('display', 'flex')
        function getData(url) {
            return $.ajax({
                url: url,
                type: 'GET',
            });
        };
        const dataHomePage = await getData('/api/homepage/GetDataHomePage')
        let category = 'all';
        let mode = 'short_list';
        if (dataHomePage && dataHomePage.data) {
            let html = ''
            dataHomePage.data.all.forEach(data => {
                html += `
                        <div class="col-lg-4 col-md-6 shuffle-item">
                            <div class="project-img-container">
                                <a class="gallery-popup" href="${data.img}" aria-label="project-img">
                                    <img class="img-fluid" src="${data.img}" alt="project-img">
                                    <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h3 class="project-item-title">
                                            <a href="projects-single.html">${data.title}</a>
                                        </h3>
                                        <p class="project-cat">${data.site}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `
            })
            $('.shuffle-wrapper').html(html)

            $('.shuffle-btn-group label').on('click', function () {
                $('.shuffle-btn-group label').removeClass('active');
                    $(this).addClass('active');
                    const id = $(this).attr('id');
                    category = id;
                    html = '';
                    mode = 'short_list';
                    $('#see_all').html(`Xem tất cả dự án`);
                    dataHomePage.data[id].forEach(data => {
                        html += `
                            <div class="col-lg-4 col-md-6 shuffle-item">
                                <div class="project-img-container">
                                    <a class="gallery-popup" href="${data.img}" aria-label="project-img">
                                        <img class="img-fluid" src="${data.img}" alt="project-img">
                                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                                    </a>
                                    <div class="project-item-info">
                                        <div class="project-item-info-content">
                                            <h3 class="project-item-title">
                                                <a href="projects-single.html">${data.title}</a>
                                            </h3>
                                            <p class="project-cat">${data.site}</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        `
                    })
                    $('.shuffle-wrapper').html(html)
            });
        }
        
        $('#see_all').on('click', async function(){
            let urlCallApi = '';
            let type = category;

            if(category == 'buildinghome'){
                type = 'building-home';
            }
            else if(category == 'gardenhouse'){
                type = 'garden-house'
            }
            else if(category == 'smallhouse4'){
                type = 'small-house4'
            }
            
            if(String(mode) == 'short_list'){
                mode = 'long_list';
                $('#see_all').html(`Danh sách rút gọn`)
              
                urlCallApi = `/api/homepage/GetProductByType/${type}`;
                let DataRender = await getData(urlCallApi);
                if(DataRender && DataRender.data){
                    let html = ''
                    DataRender.data.forEach(data => {
                        html += `
                                <div class="col-lg-4 col-md-6 shuffle-item">
                                    <div class="project-img-container">
                                        <a class="gallery-popup" href="${data.img}" aria-label="project-img">
                                            <img class="img-fluid" src="${data.img}" alt="project-img">
                                            <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                                        </a>
                                        <div class="project-item-info">
                                            <div class="project-item-info-content">
                                                <h3 class="project-item-title">
                                                    <a href="projects-single.html">${data.title}</a>
                                                </h3>
                                                <p class="project-cat">${data.site}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `
                    })
                    $('.shuffle-wrapper').html(html)
                }
            
            }
            else if(String(mode) == 'long_list'){
                mode = 'short_list';
                $('#see_all').html(`Xem tất cả dự án`)
                  urlCallApi = '/api/homepage/GetDataHomePage';
                html = ''; 
                dataHomePage.data[category].forEach(data => {
                    html += `
                        <div class="col-lg-4 col-md-6 shuffle-item">
                            <div class="project-img-container">
                                <a class="gallery-popup" href="${data.img}" aria-label="project-img">
                                    <img class="img-fluid" src="${data.img}" alt="project-img">
                                    <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h3 class="project-item-title">
                                            <a href="projects-single.html">${data.title}</a>
                                        </h3>
                                        <p class="project-cat">${data.site}</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    `
                })
                $('.shuffle-wrapper').html(html);
            }
        
        })
        // $('#loader').css('display', 'none')
    })() 
</script>

<style>
    .img-fluid{
        width:100%;
        height:320px;
    }
</style>