<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email cảm ơn khách hàng</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 30px;
        }

        table {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>
                <p>Chào <%= userName %>,</p>
                <p>Tôi muốn gửi lời cảm ơn chân thành đến bạn vì đã
                    để lại thông tin liên hệ trên website của chúng tôi.</p>
                <p>Chúng tôi luôn trân trọng mỗi khách hàng đến với chúng tôi và tôi rất vui khi biết được bạn quan tâm
                    đến sản
                    phẩm và dịch vụ của chúng tôi. Chúng tôi cam kết sẽ liên hệ với bạn trong thời gian sớm nhất để giải
                    đáp mọi
                    thắc mắc và cung cấp thông tin chi tiết hơn về sản phẩm và dịch vụ của chúng tôi.</p>
                <p>Một lần nữa, cảm ơn bạn rất nhiều vì đã để lại thông tin liên hệ. Nếu bạn có bất kỳ câu hỏi hoặc yêu
                    cầu nào,
                    xin vui lòng liên hệ với chúng tôi qua fanpage hoặc số điện thoại được cung cấp trên website của chúng
                    tôi.</p>
                <p>Trân trọng,</p>
                <p>CÔNG TY TNHH KIẾN TRÚC AD FUTURE</p>
            </td>
        </tr>
    </table>
</body>

</html>