<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="post">
                    <div class="post-media post-image">
                        <img loading="lazy" src="images/house/house-2.jpg" class="img-fluid" alt="post-image">
                    </div>

                    <div class="post-body">
                        <div class="entry-header">
                            <div class="post-meta">
                                <span class="post-author">
                                    <i class="far fa-user"></i><a href="#">Tổng đài</a>
                                </span>
                                <span class="post-cat">
                                    <i class="far fa-folder-open"></i><a href="#"> Tin tức</a>
                                </span>
                                <span class="post-meta-date"><i class="far fa-calendar"></i> 10/03/2023</span>
                                <span class="post-comment"><i class="far fa-comment"></i> 03<a href="#"
                                        class="comments-link">Bình luận</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="news-single.html">Thiết kế nhà vườn 2 tầng theo phong cách Muji tối giản.</a>
                            </h2>
                        </div><!-- header end -->

                        <div class="entry-content">
                            <p>Thiết kế nhà vườn 2 tầng theo phong cách Muji tối giản.Thiết kế nhà vườn 2 tầng theo
                                phong cách Muji tối giản.Thiết kế nhà vườn 2 tầng theo phong cách Muji tối giản.Thiết kế
                                nhà vườn 2 tầng theo phong cách Muji tối giản.Thiết kế nhà vườn 2 tầng theo phong cách
                                Muji tối giản...</p>
                        </div>

                        <div class="post-footer">
                            <a href="news-single.html" class="btn btn-primary">Đọc thêm</a>
                        </div>

                    </div><!-- post-body end -->
                </div><!-- 1st post end -->

                <div class="post">
                    <div class="post-media post-video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZCOdkuvCqc8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="post-body">
                        <div class="entry-header">
                            <div class="post-meta">
                                <span class="post-author">
                                    <i class="far fa-user"></i><a href="#"> Tổng đài</a>
                                </span>
                                <span class="post-cat">
                                    <i class="far fa-folder-open"></i><a href="#"> Tin tức</a>
                                </span>
                                <span class="post-meta-date"><i class="far fa-calendar"></i> 09/03/2023</span>
                                <span class="post-comment"><i class="far fa-comment"></i> 03<a href="#"
                                        class="comments-link">Bình luận</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="news-single.html">Thiết kế nội thất với phong cách tối giản kết hợp không gian
                                    xanh</a>
                            </h2>
                        </div><!-- header end -->

                        <div class="entry-content">
                            <p>Thiết kế nội thất với phong cách tối giản kết hợp không gian xanhThiết kế nội thất với
                                phong cách tối giản kết hợp không gian xanhThiết kế nội thất với phong cách tối giản kết
                                hợp không gian xanhThiết kế nội thất với phong cách tối giản kết hợp không gian
                                xanhThiết kế nội thất với phong cách tối giản kết hợp không gian xanhThiết kế nội thất
                                với phong cách tối giản kết hợp không gian xanh...</p>
                        </div>

                        <div class="post-footer">
                            <a href="news-single.html" class="btn btn-primary">Đọc thêm</a>
                        </div>

                    </div><!-- post-body end -->
                </div><!-- 2nd post end -->

                <div class="post">
                    <div class="post-media post-image">
                        <img loading="lazy" src="images/house/noithat-1.jpg" class="img-fluid" alt="post-image">
                    </div>

                    <div class="post-body">
                        <div class="entry-header">
                            <div class="post-meta">
                                <span class="post-author">
                                    <i class="far fa-user"></i><a href="#"> Tổng đài</a>
                                </span>
                                <span class="post-cat">
                                    <i class="far fa-folder-open"></i><a href="#"> Tin tức</a>
                                </span>
                                <span class="post-meta-date"><i class="far fa-calendar"></i> 05/03/2023</span>
                                <span class="post-comment"><i class="far fa-comment"></i> 03<a href="#"
                                        class="comments-link">Bình luận</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="news-single.html">Thiết kế nội thất biệt thự hiện đại tối giản</a>
                            </h2>
                        </div><!-- header end -->

                        <div class="entry-content">
                            <p>Thiết kế nội thất biệt thự hiện đại tối giảnThiết kế nội thất biệt thự hiện đại tối
                                giảnThiết kế nội thất biệt thự hiện đại tối giảnThiết kế nội thất biệt thự hiện đại tối
                                giảnThiết kế nội thất biệt thự hiện đại tối giảnThiết kế nội thất biệt thự hiện đại tối
                                giảnThiết kế nội thất biệt thự hiện đại tối giảnThiết kế nội thất biệt thự hiện đại tối
                                giảnThiết kế nội thất biệt thự hiện đại tối giản...</p>
                        </div>

                        <div class="post-footer">
                            <a href="news-single.html" class="btn btn-primary">Đọc thêm</a>
                        </div>

                    </div><!-- post-body end -->
                </div><!-- 3rd post end -->

                <nav class="paging" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="fas fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>

            </div><!-- Content Col end -->

            <div class="col-lg-4">

                <div class="sidebar sidebar-right">
                    <div class="widget recent-posts">
                        <h3 class="widget-title">Bài viết mới</h3>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <div class="posts-thumb">
                                    <a href="#"><img loading="lazy" alt="img" src="images/house/house-1.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Ngôi nhà 2 tầng với thiết kế hiện đại</a>
                                    </h4>
                                </div>
                            </li><!-- 1st post end-->

                            <li class="d-flex align-items-center">
                                <div class="posts-thumb">
                                    <a href="#"><img loading="lazy" alt="img" src="images/house/house-2.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Thiết kế nhà phố 2 tầng với phong cách hiện đại</a>
                                    </h4>
                                </div>
                            </li><!-- 2nd post end-->

                            <li class="d-flex align-items-center">
                                <div class="posts-thumb">
                                    <a href="#"><img loading="lazy" alt="img" src="images/house/nhacap4-1.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Thiết kế nhà vườn 2 tầng theo phong cách Muji tối giản.</a>
                                    </h4>
                                </div>
                            </li><!-- 3rd post end-->

                        </ul>

                    </div><!-- Recent post end -->

                    <div class="widget">
                        <h3 class="widget-title">Chủ đề</h3>
                        <ul class="arrow nav nav-tabs">
                            <li><a href="#">Thiết kế kiến trúc</a></li>
                            <li><a href="#">Thiết kế nội thất</a></li>
                            <li><a href="#">Xây dựng</a></li>
                            <li><a href="#">Decor căn hộ</a></li>
                        </ul>
                    </div><!-- Categories end -->

                    <div class="widget widget-tags">
                        <h3 class="widget-title">Tags </h3>

                        <ul class="list-unstyled">
                            <li><a href="#">Xây dựng</a></li>
                            <li><a href="#">Nội thất</a></li>
                            <li><a href="#">Dự án</a></li>
                            <li><a href="#">Kiến trúc</a></li>
                        </ul>
                    </div><!-- Tags end -->


                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

        </div><!-- Main row end -->

    </div><!-- Container end -->
</section><!-- Main container end -->