<div id="banner-area" class="banner-area" style="background-image:url(images/house/noithat-1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Tin tức</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 mb-5 mb-lg-0">

                <div class="post-content post-single">
                    <div class="post-media post-image">
                        <img loading="lazy" src="images/house/chungcu-1.jpg" class="img-fluid" alt="post-image">
                    </div>

                    <div class="post-body">
                        <div class="entry-header">
                            <div class="post-meta">
                                <span class="post-author">
                                    <i class="far fa-user"></i><a href="#">Tổng đài</a>
                                </span>
                                <span class="post-cat">
                                    <i class="far fa-folder-open"></i><a href="#"> Tin tức</a>
                                </span>
                                <span class="post-meta-date"><i class="far fa-calendar"></i> 15/03/2023</span>
                                <span class="post-comment"><i class="far fa-comment"></i> 03<a href="#"
                                        class="comments-link">Bình luận</a></span>
                            </div>
                            <h2 class="entry-title">
                                Thiết kế nhà nhỏ theo phong cách đồng quê, nội thất hiện đại
                            </h2>
                        </div><!-- header end -->

                        <div class="entry-content">
                            <p>Ngôi nhà là một thiết kế có ngân sách thấp. Ngôi nhà có 2 phòng ngủ, có thể đáp ứng tốt
                                nhu cầu sinh hoạt và sử dụng . Trong đó ngôi nhà này sẽ được bố trí hợp lý với nhiều khu
                                chức năng khác nhau như phòng khách, phòng làm việc, bếp và phòng tắm, phòng ngủ là góc
                                riêng để thư giãn.</p>

                            <p>Thiết kế nội thất theo phong cách hiện đại , với sofa và kệ gỗ treo tường.Vách được ốp đá
                                vân mây giúp không gian phòng khách sang trọng hơn.</p>

                            <p>Không gian phòng khách phòng ăn và bếp.</p>

                            <blockquote>
                                <p>Không gian phòng ngủ tối giản với thiết kế rút gọn các đồ nội thất không cần
                                    thiết.</cite></p>

                            </blockquote>

                            <p>Ngôi nhà là một thiết kế có ngân sách thấp. Ngôi nhà có 2 phòng ngủ, có thể đáp ứng tốt
                                nhu cầu sinh hoạt và sử dụng . Trong đó ngôi nhà này sẽ được bố trí hợp lý với nhiều khu
                                chức năng khác nhau như phòng khách, phòng làm việc, bếp và phòng tắm, phòng ngủ là góc
                                riêng để thư giãn.</p>
                        </div>

                        <div class="tags-area d-flex align-items-center justify-content-between">
                            <div class="post-tags">
                                <a href="#">Thiết kế</a>
                                <a href="#">Kiến trúc</a>
                            </div>
                            <div class="share-items">
                                <ul class="post-social-icons list-unstyled">
                                    <li class="social-icons-head">Share:</li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- post-body end -->
                </div><!-- post content end -->

                <!-- Post comment start -->
                <div id="comments" class="comments-area">
                    <h3 class="comments-heading">07 Bình luận</h3>

                    <ul class="comments-list">
                        <li>
                            <div class="comment d-flex">
                                <img loading="lazy" class="comment-avatar" alt="author" src="images/news/avator1.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author mr-3">Nguyễn Hữu Thành</span>
                                        <span class="comment-date float-right">15/03/2023 lúc 23:38</span>
                                    </div>
                                    <div class="comment-content">
                                        <p>Bài viết hay quá.</p>
                                    </div>
                                    <div class="text-left">
                                        <a class="comment-reply font-weight-bold" href="#">Reply</a>
                                    </div>
                                </div>
                            </div><!-- Comments end -->

                            <ul class="comments-reply">
                                <li>
                                    <div class="comment d-flex">
                                        <img loading="lazy" class="comment-avatar" alt="author"
                                            src="images/news/avator1.png">
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <span class="comment-author mr-3">Việt Hoàng</span>
                                                <span class="comment-date float-right">15/03/2023 lúc 23:39</span>
                                            </div>
                                            <div class="comment-content">
                                                <p>Đồng ý</p>
                                            </div>
                                            <div class="text-left">
                                                <a class="comment-reply font-weight-bold" href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div><!-- Comments end -->
                                </li>
                            </ul><!-- comments-reply end -->
                            <div class="comment d-flex last">
                                <img loading="lazy" class="comment-avatar" alt="author" src="images/news/avator1.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author mr-3">Sơn Tùng</span>
                                        <span class="comment-date float-right">15/03/2023 lúc 22:39</span>
                                    </div>
                                    <div class="comment-content">
                                        <p>Tôi thích căn nhà như thế này.</p>
                                    </div>
                                    <div class="text-left">
                                        <a class="comment-reply font-weight-bold" href="#">Reply</a>
                                    </div>
                                </div>
                            </div><!-- Comments end -->
                        </li><!-- Comments-list li end -->
                    </ul><!-- Comments-list ul end -->
                </div><!-- Post comment end -->

                <div class="comments-form border-box">
                    <h3 class="title-normal">Bình luận của bạn</h3>

                    <form role="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message"><textarea class="form-control required-field" id="message"
                                            placeholder="Nội dung bình luận *" rows="10" required></textarea></label>
                                </div>
                            </div><!-- Col 12 end -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name"><input class="form-control" name="name" id="name"
                                            placeholder="Tên bạn *" type="text" required></label>
                                </div>
                            </div><!-- Col 4 end -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email"><input class="form-control" name="email" id="email"
                                            placeholder="Địa chỉ email *" type="email" required></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="website"><input class="form-control" id="website"
                                            placeholder="Số điện thoại" type="text"></label>
                                </div>
                            </div>

                        </div><!-- Form row end -->
                        <div class="clearfix">
                            <button class="btn btn-primary" type="submit" aria-label="post-comment">Bình luận</button>
                        </div>
                    </form><!-- Form end -->
                </div><!-- Comments form end -->
            </div><!-- Content Col end -->

            <div class="col-lg-4">

                <div class="sidebar sidebar-right">
                    <div class="widget recent-posts">
                        <h3 class="widget-title">Bài viết mới</h3>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <div class="posts-thumb">
                                    <a href="#"><img loading="lazy" alt="img" src="images/house/house-1.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Ngôi nhà 2 tầng với thiết kế hiện đại</a>
                                    </h4>
                                </div>
                            </li><!-- 1st post end-->

                            <li class="d-flex align-items-center">
                                <div class="posts-thumb">
                                    <a href="#"><img loading="lazy" alt="img" src="images/house/house-2.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Thiết kế nhà phố 2 tầng với phong cách hiện đại</a>
                                    </h4>
                                </div>
                            </li><!-- 2nd post end-->

                            <li class="d-flex align-items-center">
                                <div class="posts-thumb">
                                    <a href="#"><img loading="lazy" alt="img" src="images/house/nhacap4-1.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Thiết kế nhà vườn 2 tầng theo phong cách Muji tối giản.</a>
                                    </h4>
                                </div>
                            </li><!-- 3rd post end-->

                        </ul>

                    </div><!-- Recent post end -->

                    <div class="widget">
                        <h3 class="widget-title">Chủ đề</h3>
                        <ul class="arrow nav nav-tabs">
                            <li><a href="#">Thiết kế kiến trúc</a></li>
                            <li><a href="#">Thiết kế nội thất</a></li>
                            <li><a href="#">Xây dựng</a></li>
                            <li><a href="#">Decor căn hộ</a></li>
                        </ul>
                    </div><!-- Categories end -->

                    <div class="widget widget-tags">
                        <h3 class="widget-title">Tags </h3>

                        <ul class="list-unstyled">
                            <li><a href="#">Xây dựng</a></li>
                            <li><a href="#">Nội thất</a></li>
                            <li><a href="#">Dự án</a></li>
                            <li><a href="#">Kiến trúc</a></li>
                        </ul>
                    </div><!-- Tags end -->


                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

        </div><!-- Main row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->