<div id="banner-area" class="banner-area" style="background-image:url(/assets/images/house/noithat-1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Báo giá</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Báo giá</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-title">Các gói thiết kế chất lượng từ AD Future</h2>
                <h3 class="section-sub-title">Báo giá</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="ts-pricing-box ts-pricing-featured">
                    <div>
                        <div class="ts-pricing-header">
                            <h2 class="ts-pricing-name">Thiết kế kiến trúc</h2>
                            <h2 class="ts-pricing-price">
                                <span class="currency">Từ </span><strong>
                                    <%= price.tkkt %>
                                </strong><small> VNĐ/m2</small>
                            </h2>
                        </div><!-- Pricing header -->
                        <div class="ts-pricing-features">
                            <ul class="list-unstyled">
                                <li>Phát triển ý tưởng</li>
                                <li>Thiết kế công năng</li>
                                <li>Phối cảnh ngoại thất</li>
                                <li>Hồ sơ kĩ thuật đầy đủ theo yêu cầu</li>
                                <li>Dự toán khối lượng theo mẫu TQT</li>
                                <li>Hồ sơ xin phép xây dựng</li>
                            </ul>
                        </div><!-- Features end -->
                    </div>
                    <div class="plan-action">
                        <a href="/contact" class="btn btn-primary">Liên hệ ngay</a>
                    </div>
                </div><!-- Plan 1 end -->
            </div><!-- Col end -->

            <div class="col-lg-4 col-md-6">
                <div class="ts-pricing-box ts-pricing-featured">
                    <div>
                        <div class="ts-pricing-header">
                            <h2 class="ts-pricing-name">Thiết kế nội thất</h2>
                            <h2 class="ts-pricing-price">
                                <span class="currency">Từ </span><strong>
                                    <%= price.tknt %>
                                </strong><small> VNĐ/m2</small>
                            </h2>
                        </div><!-- Pricing header -->
                        <div class="ts-pricing-features">
                            <ul class="list-unstyled">
                                <li>Phát triển ý tưởng</li>
                                <li>Thiết kế công năng</li>
                                <li>Phối cảnh nội thất</li>
                                <li>Hồ sơ kĩ thuật đầy đủ theo yêu cầu</li>
                                <li>Dự toán khối lượng theo mẫu TQT</li>
                                <li>Hồ sơ xin phép xây dựng</li>
                            </ul>
                        </div><!-- Features end -->
                    </div>
                    <div class="plan-action">
                        <a href="/contact" class="btn btn-primary">Liên hệ ngay</a>
                    </div>
                </div><!-- Plan 2 end -->
            </div><!-- Col end -->

            <div class="col-lg-4 col-md-6">
                <div class="ts-pricing-box ts-pricing-featured">
                    <div>
                        <div class="ts-pricing-header">
                            <h2 class="ts-pricing-name">Thiết kế trọn gói</h2>
                            <h2 class="ts-pricing-price">
                                <span class="currency">Từ </span><strong>
                                    <%= price.tktg %>
                                </strong><small>VNĐ/M2</small>
                            </h2>
                        </div><!-- Pricing header -->
                        <div class="ts-pricing-features">
                            <ul class="list-unstyled">
                                <li>Phát triển ý tưởng</li>
                                <li>Thiết kế công năng</li>
                                <li>Phối cảnh ngoại thất</li>
                                <li>Phối cảnh nội thất</li>
                                <li>Hồ sơ kĩ thuật đầy đủ theo yêu cầu</li>
                                <li>Dự toán khối lượng theo mẫu TQT</li>
                                <li>Hồ sơ xin phép xây dựng</li>
                            </ul>
                        </div><!-- Features end -->
                    </div>
                    <div class="plan-action">
                        <a href="/contact" class="btn btn-primary">Liên hệ ngay</a>
                    </div>
                </div><!-- Plan 3 end -->
            </div><!-- Col end -->

        </div>
        <!--/ Content row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->

<style>
    .ts-pricing-box {
        height: 100%;
    }

    .ts-pricing-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>