<div id="banner-area" class="banner-area" style="background-image:url(images/house/house-2.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Dự án</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="#">Dự án</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tất cả dự án</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shuffle-btn-group">
                    <label class="active" for="all">
                        <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Tất cả dự án
                    </label>
                    <label for="bietthu">
                        <input type="radio" name="shuffle-filter" id="bietthu" value="bietthu">Biệt thự
                    </label>
                    <label for="chungcu">
                        <input type="radio" name="shuffle-filter" id="chungcu" value="chungcu">Chung cư
                    </label>
                    <label for="nhapho">
                        <input type="radio" name="shuffle-filter" id="nhapho" value="nhapho">Nhà phố
                    </label>
                    <label for="sanvuon">
                        <input type="radio" name="shuffle-filter" id="sanvuon" value="sanvuon">Sân vườn
                    </label>
                    <label for="cuahang">
                        <input type="radio" name="shuffle-filter" id="cuahang" value="cuahang">Cửa hàng
                    </label>
                    <label for="nhacap4">
                        <input type="radio" name="shuffle-filter" id="nhacap4" value="nhacap4">Nhà cấp 4
                    </label>
                </div><!-- project filter end -->


                <div class="row shuffle-wrapper">
                    <div class="col-1 shuffle-sizer"></div>

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;nhapho&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/house/nhapho-2.jpg" aria-label="project-img">
                                <img class="img-fluid" src="images/house/nhapho-2.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Nhà phố 3 tầng</a>
                                    </h3>
                                    <p class="project-cat">Sài Đồng - Long Biên, Hà Nội</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 1 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;nhacap4&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/house/nhacap4-1.jpg" aria-label="project-img">
                                <img class="img-fluid" src="images/house/nhacap4-1.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Nhà cấp 4 đẹp</a>
                                    </h3>
                                    <p class="project-cat">Nam Sách</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 2 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;sanvuon&quot;,&quot;bietthu&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/house/bietthu-1.jpg" aria-label="project-img">
                                <img class="img-fluid" src="images/house/bietthu-1.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Biệt thự 2 tầng mái lệch</a>
                                    </h3>
                                    <p class="project-cat">Từ Sơn, Bắc Ninh</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 3 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;nhapho&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/house/nhapho-1.jpg" aria-label="project-img">
                                <img class="img-fluid" src="images/house/nhapho-1.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Nhà phố 2 tầng</a>
                                    </h3>
                                    <p class="project-cat">Thành phố Bắc Giang</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 4 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;chungcu&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/house/chungcu-1.jpg" aria-label="project-img">
                                <img class="img-fluid" src="images/house/chungcu-1.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Chung cư Hà Đông</a>
                                    </h3>
                                    <p class="project-cat">Hà Đông</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 5 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;cuahang&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="images/house/cuahang-1.jpg" aria-label="project-img">
                                <img class="img-fluid" src="images/house/cuahang-1.jpg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Cửa hàng Mewwmew</a>
                                    </h3>
                                    <p class="project-cat">Từ Sơn, Bắc Ninh</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 6 end -->
                </div><!-- shuffle end -->
            </div>

            <div class="col-12">
                <div class="general-btn text-center">
                    <a class="btn btn-primary" href="projects.html">Xem tất cả dự án</a>
                </div>
            </div>

        </div><!-- Content row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->