<div id="banner-area" class="banner-area" style="background-image:url(/assets/images/house/house-2.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Dự án</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="#">Dự án</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tất cả dự án</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<!-- ======= Projet Details Section ======= -->
<section id="project-details" class="project-details">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="position-relative h-100">
            <div class="slides-1 portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide">
                        <img src="images/house/noithat-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/house/noithat-1.jpg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/house/noithat-1.jpg" alt="">
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="row justify-content-between gy-4 mt-4">
            <div class="col-lg-8">
                <div class="portfolio-description">
                    <h2>Siêu phẩm nhà phố 2 tâng mái lệch</h2>
                    <p>
                        Đội ngũ sáng lập công ty là các nhà thiết kế kiến trúc,nội thất và quy hoạch đô thị có 20 năm
                        kinh nghiệm trong lĩnh vực thiết kế kiến trúc nội thất và cung cấp nội thất cao cấp. Tại Việt
                        Nam và một số nước Đông Nam Á, Châu Âu ELKAY VIỆT NAM nổi tiếng với những thiết kế ấn tượng,
                        sang trọng, đẳng cấp và những dự án quy hoạch đô thị tầm cỡ quốc gia.
                    </p>
                    <p>
                        Đội ngũ sáng lập công ty là các nhà thiết kế kiến trúc,nội thất và quy hoạch đô thị có 20 năm
                        kinh nghiệm trong lĩnh vực thiết kế kiến trúc nội thất và cung cấp nội thất cao cấp. Tại Việt
                        Nam và một số nước Đông Nam Á, Châu Âu ELKAY VIỆT NAM nổi tiếng với những thiết kế ấn tượng,
                        sang trọng, đẳng cấp và những dự án quy hoạch đô thị tầm cỡ quốc gia.
                    </p>
                    <p>
                        Đội ngũ sáng lập công ty là các nhà thiết kế kiến trúc,nội thất và quy hoạch đô thị có 20 năm
                        kinh nghiệm trong lĩnh vực thiết kế kiến trúc nội thất và cung cấp nội thất cao cấp. Tại Việt
                        Nam và một số nước Đông Nam Á, Châu Âu ELKAY VIỆT NAM nổi tiếng với những thiết kế ấn tượng,
                        sang trọng, đẳng cấp và những dự án quy hoạch đô thị tầm cỡ quốc gia.
                    </p>

                </div>
            </div>

            <div class="col-lg-3">
                <div class="portfolio-info">
                    <h3>Thông tin dự án</h3>
                    <ul>
                        <li><strong>Đội ngũ thiết kế</strong> <span>AD Future</span></li>
                        <li><strong>Diện tích</strong> <span>100 m2</span></li>
                        <li><strong>Địa chỉ</strong> <span>Hà Nội</span></li>
                        <li><strong>Thời gian thực hiện</strong> <span>12/12/2012</span></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Projet Details Section -->