<div id="banner-area" class="banner-area" style="background-image:url(images/house/house-1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Dịch vụ</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="services.html">Dịch vụ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Thiết kế kiến trúc</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-4">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Dịch vụ</h3>
                        <ul class="nav service-menu">
                            <li class="active"><a href="service-single.html">Thiết kế kiến trúc</a></li>
                            <li><a href="service-single.html">Thiết kế nội thất</a></li>
                            <li><a href="#">Thiết kế trọn gói</a></li>
                        </ul>
                    </div><!-- Widget end -->

                    <div class="widget">
                        <div class="quote-item quote-border">
                            <div class="quote-item-center">
                                <img loading="lazy" src="logo.png" width="300px" height="200px"
                                    style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
                            </div>
                        </div><!-- Quote item end -->

                    </div><!-- Widget end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-xl-8 col-lg-8">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">CHÚNG TÔI SẼ MANG LẠI CHO BẠN ĐIỀU GÌ</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    Hình dung trước không gian, hình ảnh của công trình sau khi hoàn thành sẽ như thế
                                    nào thông qua hình phối cảnh. Kịp thời chỉnh sửa theo ý thích trước khi thực hiện.
                                </li>
                                <li>
                                    Kiến trúc sư sẽ lên ý tưởng thiết kế ngôi nhà của bạn sao cho phù hợp với công năng
                                    sử dụng và thể hiện được sở thích, cá tính của chủ nhân ngôi nhà.
                                </li>
                                <li>
                                    Tránh được thiệt hại do người thợ không hiểu ý, thi công sai, dẫn đến phải đập phá
                                    xây lại. Tốn thời gian, chi phí, công sức…mà kết quả không được như mong muốn.
                                </li>
                            </ul>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div class="gap-40"></div>

                    <div id="page-slider" class="page-slider">
                        <div class="item">
                            <img loading="lazy" class="img-fluid" src="images/house/chungcu-1.jpg"
                                alt="project-slider-image" />
                        </div>

                        <div class="item">
                            <img loading="lazy" class="img-fluid" src="images/house/bietthu-1.jpg"
                                alt="project-slider-image" />
                        </div>
                    </div><!-- Page slider end -->

                    <div class="gap-40"></div>

                    <div class="row">
                        <h3>ĐIỀU GÌ LÀM CHO THIẾT KẾ AD FUTURE KHÁC BIỆT</h3>
                        <ul>
                            <li>Thiết kế độc bản duy nhất</li>
                            <li>Thực hiện khảo sát , hỗ trợ tận tình pháp lý</li>
                            <li>Thực hiện kiểm tra định kỳ</li>
                            <li>Bảo hành trên 15 năm với nhiều công trình.</li>
                            <li>Hỗ trợ 50% chi phí thiết kế khi thi công trọn gói</li>
                        </ul>
                    </div>
                    <!--2nd row end -->

                </div><!-- Content inner end -->
            </div><!-- Content Col end -->


        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->

<section class="subscribe no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="subscribe-call-to-acton">
                    <h3>Liên lạc với AD Future</h3>
                    <h4>098.159.6888</h4>
                </div>
            </div><!-- Col end -->

            <div class="col-lg-8">
                <div class="ts-newsletter row align-items-center">
                    <div class="col-md-5 newsletter-introtext">
                        <h4 class="text-white mb-0">Thông tin của bạn</h4>
                        <p class="text-white">AD Future sẽ liên lạc với quý khách</p>
                    </div>

                    <div class="col-md-7 newsletter-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="newsletter-email" class="content-hidden">Email</label>
                                <input type="email" name="email" id="newsletter-email"
                                    class="form-control form-control-lg"
                                    placeholder="Email hoặc Số điện thoại của quý khách" autocomplete="off">
                            </div>
                        </form>
                    </div>
                </div><!-- Newsletter end -->
            </div><!-- Col end -->

        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section>
<!--/ subscribe end -->