<div id="banner-area" class="banner-area" style="background-image:url(images/house/noithat-1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Giới thiệu</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container pb-2">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="images/house/bietthu-1.jpg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="images/icon-image/service-icon1.png" alt="service-icon">
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a>TẦM NHÌN</a></h3>
                            <p>định hướng phát triển thành một Tập đoàn đa quốc gia trong lĩnh vực xây dựng, kiến trúc,
                                nội thất,
                                không ngừng đổi mới, sáng tạo để kiến tạo hệ sinh thái các sản phẩm kiến trúc, xây dựng
                                nội thất với
                                dịch vụ đẳng cấp, góp phần nâng cao chất lượng cuộc sống của người Việt và nâng tầm vị
                                thế của
                                thương hiệu Việt trên trường quốc tế.
                            </p>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 1 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="images/house/bietthu-1.jpg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="images/icon-image/service-icon2.png" alt="service-icon">
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a>SỨ MỆNH</a></h3>
                            <p>Mang vẻ đẹp của kiến trúc Việt Nam đi toàn thế giới . AD Future định hướng phát triển
                                thành công ty
                                về kiến trúc nội thất với các công trình vươn tầm quốc tế. Phục vụ người Việt trong và
                                ngoài nước ,
                                xây dựng thiết kế các công trình mang dấu ấn Việt Nam tại Các khu vực trên toàn thế giới
                                .

                                Bắc Mỹ điểm đến đầu tiên , Châu âu chân trời rộng mở , Châu úc hoang dã đầy nhiệt huyết
                                , Đông Nam á
                                thân thiên và nên thơ .</p>
                        </div>
                    </div>
                </div><!-- Service2 end -->
            </div><!-- Col 2 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="images/house/bietthu-1.jpg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="images/icon-image/service-icon3.png" alt="service-icon">
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a>THƯƠNG HIỆU ĐÃ ĐƯỢC KHẲNG ĐỊNH</a></h3>
                            <p>Với phương châm khách hàng là trọng tâm, đối với AD Future VIỆT NAM mỗi công trình là một
                                thử thách
                                mới, một trải nghiệm mới và một nhiệm vụ mới. Nên đối với các dự án thiết kế kiến trúc,
                                thiết kế nội
                                thất hay quy hoạch đô thị dù to hay nhỏ AD Future VIỆT NAM đều trân trọng và làm việc
                                với trách
                                nhiệm cao nhất.</p>
                        </div>
                    </div>
                </div><!-- Service3 end -->
            </div><!-- Col 3 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="images/house/bietthu-1.jpg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="images/icon-image/service-icon4.png" alt="service-icon">
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a>VỊ THẾ VÀ UY TÍN</a></h3>
                            <p>Sau 5 năm thành lập, Công ty AD Future VIỆT NAM đã lần lượt sáng tạo nhiều công trình với
                                quy mô và
                                phong cách khác nhau. Khách hàng là những người đam mê về thẩm mỹ, yêu thích không gian
                                sang trọng
                                đẳng cấp.</p>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 4 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="images/house/bietthu-1.jpg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="images/icon-image/service-icon5.png" alt="service-icon">
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a>Hạnh phúc của khách hàng</a></h3>
                            <p>Những thiết kế và phong cách AD Future mang đến được sự yêu thích và sự tin tưởng của chủ
                                nhân vì
                                vậy AD Future luôn đồng hành như một người bạn hiểu rõ nhu cầu và sở thích của từng
                                khách hàng.Sự nỗ
                                lực của từng nhân viên trong các vị trí khác nhau để mang đến thành quả chung cho sự
                                phát triển .
                            </p>
                        </div>
                    </div>
                </div><!-- Service2 end -->
            </div><!-- Col 5 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="images/house/bietthu-1.jpg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon">
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a>GIÁ TRỊ CỐT LÕI</a></h3>
                            <p>AD Future quan niệm đội ngũ có mạnh, công ty mới mạnh và vững vàng. Vì vậy AD Future luôn
                                lựa chọn
                                những người tinh hoa để hoàn thành được những sản phẩm, dịch vụ tinh hoa. Cũng vì thế AD
                                Future luôn
                                mong muốn xây dựng một đội ngũ nhân sự tinh gọn, nhưng phải đủ Đức, đủ TÀI để phục vụ
                                khách hàng và
                                phát triển doanh nghiệp.</p>
                        </div>
                    </div>
                </div><!-- Service3 end -->
            </div><!-- Col 6 end -->

        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->